body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.red {
    color:red;
}

.blue {
    color:darkblue;
}
.CenterGothic{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.makeBigger{
    font-size:120%;
}

.make2Bigger{
    font-size:200%;
}